.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  color: #444444;
  background-color: #e6e6e6;
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active:hover,
.btn-link.active:hover,
.open > .dropdown-toggle.btn-link:hover,
.btn-link:active:focus,
.btn-link.active:focus,
.open > .dropdown-toggle.btn-link:focus,
.btn-link:active.focus,
.btn-link.active.focus,
.open > .dropdown-toggle.btn-link.focus {
  color: #444444;
  background-color: #d4d4d4;
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  background-image: none;
}

textarea {
    resize: vertical;
}

.fab-fixed {
    bottom: 24px;
    right: 24px;
    position: fixed;
    z-index: 1000;
}

.toast {
    width: 500px;
    position: fixed;
    bottom: 24px;
    left: 50%;
    margin-left: -250px;
    z-index: 1000;
}
